apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: podinfo
  namespace: flux-system
spec:
  interval: 5m
  targetNamespace: webapp-your-first-application-with-fluxcd
  prune: true
  path: examples/module_04/podinfo-flux
  sourceRef:
    kind: GitRepository
    name: flux-system
  wait: true